$colour-core-white: #ffffff;
$colour-core-black: #000000;
$colour-core-orange: #e95420;
$colour-core-aubergine: #772953;
$colour-neutral-warm: #aea79f;
$colour-neutral-cool: #333333;
$colour-neutral-text: #111111;

$colour-blue: #335280;
$colour-green: #0e8420;
$colour-red: #c7162b;
